@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
* {
  box-sizing: border-box;
}

:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f7f7f7;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  font-family: 'Lato', sans-serif;
  background-color: #132c33;
  background-image: url('https://www.transparenttextures.com/patterns/wild-flowers.png');
}

.container {
  margin: 2rem 0;
  width: 25rem;
}

.inc-exp-container {
  background-color: #fff;
  display: flex;
  box-shadow: var(--box-shadow);
  justify-content: space-between;
  margin: 20px 0;
  padding: 20px;
}

h1 {
  letter-spacing: 1px;
  margin: 10px;
}

h3 {
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
  margin: 40px 0 10px;
}

h4 {
  margin: 0;
  text-transform: uppercase;
}

.inc-exp-container > div {
  flex: 1;
  text-align: center;
}

.inc-exp-container > div:first-of-type {
  border-right: 1px solid #dedede;
}

.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}

.money.plus {
  color: #2ecc71;
}

.money.minus {
  color: #c0392b;
}

.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}

.list li {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
}

.list li.plus {
  border-right: 5px solid #2ecc71;
}

.list li.minus {
  border-right: 5px solid #c0392b;
}

.delete-btn {
  cursor: pointer;
  background-color: #e74c3c;
  border: 0;
  color: #fff;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
}

label {
  display: inline-block;
  margin: 10px 0;
}

input[type='text'],
input[type='number'] {
  border: 1px solid #dedede;
  border-radius: 2px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

.btn {
  cursor: pointer;
  background-color: #2d3af3;
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  display: block;
  font-size: 16px;
  margin: 10px 0 30px;
  padding: 10px;
  width: 100%;
}

.btn:focus,
.delete-btn:focus {
  outline: 0;
}

.clear {
  display: flex;
  text-align: center;
  justify-content: space-between;
}
/* 
.clear > div {
  flex: 1;
} */

.clear button {
  align-items: center;
  padding-bottom: 0;
  margin: 40px 0 15px;
  border-radius: 2px;
  cursor: pointer;
  border: 0;
  background-color: #c25447;
  color: #fff;
}

.logout {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logout > button {
  color: #fff;
  background-color: black;
  padding: 5px;
}

.landing {
  background-color: #f7f7f7;
  box-shadow: var(--box-shadow);
  padding: 33px;
  padding-left: 40px;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
  text-align: center;
  color: #fff;
}

.welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}

@media (max-width: 700px) {
  .container {
    margin: 1rem 1rem;
    width: 15rem;
    align-items: center;
    text-align: center;
  }

  .login {
    margin: 10px;
    text-align: center;
    font-size: 11px;
  }

  .welcome {
    font-size: 13px;
  }
}
